<%= render "/header" %>

<div class="main_content">

  <% @all_kits.each do |kit| %>
    <div class="kit">
      <div class="kit_header">
        <form action="/kits/<%= kit.kit_id %>">
          <button class="kit_title" type="submit"><h2><%= kit.title %></h2></button>
        </form>
      </div>

      <h4 class="kit_owner">By <%= kit.first_name %> <%= kit.last_name %></h4>
      <p class="kit_description"><%= kit.description %></p>
      <div class="kit_items kit_dropdown">
        <% Kit.find(kit.kit_id).items.each do |item| %>
          <div class="kit_item">
            <form action="/items/<%= kit.kit_id %>">
              <button class="item_name" type="submit"><h5><%= item.item_name %></h5></button>
            </form>
            <%=image_tag item.item_img.url%>
            <p class="item_description"><%= item.description %></p>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

</div>
