<%= render "/header" %>

<div class="main_content">

    <div class="kit">
      <div class="kit_header">
        <form action="/kits/<%= @kit.id %>">
          <button class="kit_title" type="submit"><h2><%= @kit.title %></h2></button>
        </form>
      </div>

      <h4 class="kit_owner">By <%= @kit_user.first_name %> <%= @kit_user.last_name %></h4>
      <p class="kit_description"><%= @kit.description %></p>

      <div class="kit_items kit_dropdown">

        <% Kit.find(@kit.id).items.each do |item| %>
          <div class="kit_item">
            <form action="/items/<%= item[:id] %>">
              <button class="item_name" type="submit"><h5><%= item.item_name %></h5></button>

            </form>
            <%=image_tag item.item_img.url%>

            <p class="item_description"><%= item.description %></p>
            <%if session[:user_id] == @kit.user_id %>
              <a href="/items/<%= item.id %>" data-method=delete>delete</a>
            <% end%>
          </div>
        <% end %>

        <%if @kit.user_id == session[:user_id] %>
        <div class="kit_item">
          <%= form_for @item,  :html =>{:multipart => true, :class => "item_form"} do |f|%>
              <%= f.hidden_field :kit_id, value: @kit.id %>
              <div class="item_form_name">

                <%= f.text_field :item_name, class: "item_input", placeholder: "Item Name" %>
              </div>
              <div class="item_img_input">
                <h4>Create a new item or <a href="/items/new/<%= @kit.id%>">find it!</a></h4>
                <%= f.file_field :item_img, class: "item_img_upload"%>
              </div>
              <%= f.text_area :description , class: "item_description_input", placeholder: "Item Description" %>
              <div class="item_submit">
                <%= f.submit :Create, class: "submit_btn" %>
              </div>
          <% end %>
        </div>
        <% end %>


      </div>
      <%if session[:user_id] == @kit.user_id %>
        <a href="/kits/<%= @kit.id %>" data-method=delete>Delete Kit</a>
      <% end%>
    </div>

</div>
