<header>
  <div class="logo">
    <h1>KitShare</h1>
  </div>
  <div class="header_links">
    <a href="/sessions/<%= session[:user_id] %>" data-method="delete">Logout</a>
  </div>
</header>
<nav>
  <ul class="nav">

    <li class="dropdown">
        <form action="/users/<%=session[:user_id]%>"><button type="submit" class="nav-btn">My Kits</button></form>
          <div class="dropdown-content">
            <%if @my_kits%>
            <% @my_kits.each do |kit|%>
            <form class="nav_link" action="/kits/<%=kit.id%>">
              <input class="nav-btn" type="submit" value="<%=kit.title%>">
            </form>
            <%end%>
            <%end%>
          </div>
    </li>

    <li class="dropdown"><form action="/users/<%=session[:user_id]%>"><button type="submit" class="nav-btn">Categories</button></form>
        <div class="dropdown-content">
          <% @categories.each do |category| %>
            <form class="nav_link" action="/categories/<%=category.id%>"><input class="nav-btn" type="submit" value="<%=category.category_name%>"></form>
          <%end%>

        </div>
    </li>
    <li class="dropdown">
      <form><button type="button" class="nav-btn">Create a Kew Kit</button></form>

      <!-- <div class="dropdown-content">

      </div> -->
      <form class="create_kit dropdown-content" action="/kits" method="post">

        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input class="form_text nav_create" type="text" name="kit[title]" placeholder="Kit Title">
        <textarea class="form_text" name="kit[description]" placeholder="enter a description" rows="4"></textarea>
        <select class="nav form_text" name="kit[category_id]">
          <option default selected value="">Pick a category</option>
          <% @categories.each do |category| %>
            <option class="form_text nav" value="<%=category.id%>"><%=category.category_name%></option>
          <%end%>
          <option class="form_text nav" value="new category">New Category</option>
        </select>
        <button type="submit" class="btn nav_create">Create</button>
      </form>
    </li>
    <!-- <li><form action="/users/<%=session[:user_id]%>"><button type="submit" class="nav-btn"></button></form></li> -->
  </ul>
</nav>
<div class="main_content">

  <div class="info">
    <h2><%= @kit.title %></h2>
    <h4>by <%= @kit_user.first_name %> <%= @kit_user.last_name %></h4>
    <p><%= @kit.description %></p>
  </div>

  <div class="content">

  <%if @kit_items.length>0 %>
  <% @kit_items.each do |item| %>
    <div class="box">
      <div class="box_title">
        <h3 class="box_title"><%= item.item_name %></h3>
        

      </div>
      <p class="box_description"><%= item.description %></p>
      <div class="box_img_crop">
        <%= image_tag item.item_img.url %>
      </div>

    </div>
  <%end%>
  <%end%>

    <%= form_for @item, :url => @items_path, :html =>{:multipart => true, :class => "box item_form"} do |f|%>
      <h3 class="box_title">Create a new Kit item</h3>
      <p class="box_description">Create a new item and add it to your kit</p>
      <div class="box_img_crop">
        <%= f.text_field :item_name, class: "input input_border", placeholder: "Item Name" %>
        <div class="input input_border">
          <%= f.label :item_Img %>
          <%= f.file_field :item_img %>
        </div>
        <%= f.hidden_field :kit_id, value: "#{@kit.id}"%>
        <%= f.text_area :description , class: "input textarea input_border", placeholder: "Item Description" %>
        <%= f.submit :create, class: "submit" %>
      </div>
    <% end %>
    <!-- <form class="box" action="/items" method="post">
      <h3>create a new kit item</h3>
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <div class="field">
        <label for="item[item_name]">Name: </label>
        <input class="kit_item_input" type="text" name="item[item_name]">
      </div>
      <div class="field">
        <label for="item[description]">Name: </label>
        <textarea class="form_text" type="textarea" name="item[description]"></textarea>
      </div>
      <div class="submit">
        <button type="submit" class="btn">Add Item</button>
      </div>
    </form> -->

  </div>

</div>
