<%= render "/header" %>

<div class="main_content">

  <% @my_kits.each do |kit| %>
    <div class="kit">
      <div class="kit_header">
        <form action="/kits/<%= kit.id %>">
          <button class="kit_title" type="submit"><h2><%= kit.title %></h2></button>
        </form>
        <form  action="/likes" method="post">
          <%if @liked.where(kit_id: kit.id)%>
            <button type="submit" class="like_btn" name="button"><h2>Like</h2></button>
          <% else %>
            <button type="submit" class="like_btn" name="button"><h2>Unlike</h2></button>
          <% end %>
        </form>
        <h2 class="likes_counter"><%= @likes %></h2>
      </div>

      <h4 class="kit_owner">By <%= @user.first_name %> <%= @user.last_name %></h4>
      <p class="kit_description"><%= kit.description %></p>
      <div class="kit_items kit_dropdown">
        <% Kit.find(kit.id).items.each do |item| %>
          <div class="kit_item">
            <form action="/items/<%= kit.id %>">
              <button class="item_name" type="submit"><h5><%= item.item_name %></h5></button>
            </form>
            <%=image_tag item.item_img.url%>
            <p class="item_description"><%= item.description %></p>
            <%if item == session[:user_id]%>
              <a href="edit/<%= item_id %>"></a>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

</div>
