<%= render "/header" %>

<div class="main_content">
  <form class="kit" action="/items/new/<%=params[:id]%>" method="post">
    <div class="kit_header"></div>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <div class="field">
      <input class="form_input" type="text" name="search[item]" placeholder="Item Name" >
    </div>

    <div class="field">
      <button type="submit" class="submit_btn">Search</button>
    </div>
  </form>

  <div class="kit">
    <div class="kit_header"></div>

    <% if @results %>
    <% @results.each do |item| %>
        <div class="kit_item">
          <%= form_for @item,  :html =>{:multipart => true, :class => "item_form"} do |f|%>
              <%= f.hidden_field :kit_id, value: params[:id] %>
              <div class="item_name">
                <h5><%= item["title"] %></h5>
                <%= f.hidden_field :item_name, value: "#{item["title"]}" %>
              </div>
              <img src="<%=item["pagemap"]['cse_image'][0]['src'] if item["pagemap"]['cse_image']%>" alt="No image" />
              <%= f.hidden_field :item_img, value: "#{item["pagemap"]['cse_image'][0]['src'] if item["pagemap"]['cse_image']}"%>
              <%= f.text_area :description, class: "item_description_input", value: "#{item["title"]}" %>
              <div class="item_submit">
                <%= f.submit :Add, class: "submit_btn" %>
              </div>
          <% end %>
        </div>

    <% end %>
    <% end %>
  </div>


</div>
