<%= render "/header" %>


<div class="main_content">
<% unless @kits.size > 0 %>
  <div class="kit">
    <div class="kit_header">
    </div>
    <h1>No kits in this category</h1>
  </div>
<% end %>

<% @kits.each do |kit| %>
  <div class="kit">
    <div class="kit_header">
      <form action="/kits/<%= kit.kit_id %>">
        <button class="kit_title" type="submit"><h2><%= kit.title %></h2></button>
      </form>
      <!-- <form  action="/likes" method="post">

        <%if @liked.where(kit_id: kit.id)%>
          <button type="submit" class="like_btn" name="button"><h2>Like</h2></button>
        <% else %>
          <button type="submit" class="like_btn" name="button"><h2>Unlike</h2></button>
        <% end %>
      </form> -->
      <!-- kit likes removed until later updates  -->
    </div>

    <h4 class="kit_owner">By <%= @user.first_name %><%= @user.last_name %></h4>
    <p class="kit_description"><%= kit.description %></p>

    <div class="kit_items kit_dropdown">
      <% Kit.find(kit.kit_id).items.each do |item| %>
        <div class="kit_item">
          <form action="/items/<%= item.id %>">
            <button class="item_name" type="submit"><h5><%= item.item_name %></h5></button>
          </form>
          <%=image_tag item.item_img.url%>
          <p class="item_description"><%= item.description %></p>
          <%if item == session[:user_id]%>
            <a href="edit/<%= item_id %>"></a>
          <% end %>
        </div>
      <% end %>
    </div>
    <%if session[:user_id] == kit.user_id %>
      <a href="/kits/<%= kit.kit_id %>" data-method=delete>Delete Kit</a>
    <% end%>
  </div>
<% end %>

</div>
