<header>
  <div class="banner">
    <div class="logo">
      <h1>KitShare</h1>
    </div>

    <div class="welcome">
      <%if session[:user]%>
      <h3>  Welcome <%= session[:user]%>!</h3>
      <% end %>
    </div>

    <div class="header_links">
      <p> <a href="https://github.com/berryerick/Kitshare">Github Repository</a> |
      <% if session[:user_id] != nil %>
      <a href="/sessions/<%= session[:user_id] %>" data-method="delete">Logout</a>
      <% else %>
        <%if current_page?(controller: 'sessions', action: 'new')%>
          New User? <a href="/users/new">Register</a>
        <%elsif current_page?(controller: 'users', action: 'new')%>
          Already Have an Account? <a href="/sessions/new">Login</a>

        <%end%>

      <% end %>
      </p>
    </div>

  </div>
  <% if session[:user_id] != nil %>
  <nav>
    <ul class="nav">

      <li class="dropdown">
          <form action="/users/<%=session[:user_id]%>"><button type="submit" class="nav-btn">My Kits</button></form>
            <div class="dropdown-content">
              <%if @my_kits%>
              <% @my_kits.each do |kit|%>
              <form class="nav_link" action="/kits/<%=kit.id%>">
                <input class="nav-btn" type="submit" value="<%=kit.title%>">
              </form>
              <%end%>
              <%end%>
            </div>
      </li>

      <li class="dropdown"><form action="/users/<%=session[:user_id]%>"><button type="submit" class="nav-btn">Categories</button></form>
          <div class="dropdown-content">
            <% @categories.each do |category| %>
              <form class="nav_link" action="/categories/<%=category.id%>"><input class="nav-btn" type="submit" value="<%=category.category_name%>"></form>
            <%end%>

          </div>
      </li>
      <li class="dropdown">
        <form><button type="button" class="nav-btn">Create a Kew Kit</button></form>

        <!-- <div class="dropdown-content">

        </div> -->
        <form class="create_kit dropdown-content" action="/kits" method="post">

          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input class="item_input nav_create" type="text" name="kit[title]" placeholder="Kit Title">
          <textarea class="item_input" name="kit[description]" placeholder="enter a description" rows="4"></textarea>
          <select class="item_input kit_category" name="kit[category_id]">
            <option default selected value="">Pick a category</option>
            <% @categories.each do |category| %>
              <option class="form_text nav" value="<%=category.id%>"><%=category.category_name%></option>
            <%end%>
          </select>
          <button type="submit" class="submit_btn nav_create">Create</button>
        </form>
      </li>
      <!-- <li><form action="/users/<%=session[:user_id]%>"><button type="submit" class="nav-btn"></button></form></li> -->
    </ul>
  </nav>
  <% end %>
</header>
